---
import Menu from "../componets/menu.svelte";
import Tag from '../componets/tag.svelte'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>VitalCode.xyz | Tag</title>
  </head>
  <body class="bg-zinc-800">
    <Menu />
    <Tag client:only="svelte"/>
</body>
</html>
